<div class="container">
  <h2 class="has-text-centered is-size-3">{{poll.title}}</h2>
  <canvas id="chart" data-itens="{{getArrayofItem poll.itens}}" data-votes="{{getArrayofVotes poll.itens}}" style="height:40vh; width:50vw ">
  </canvas>



  <form action="/dashboard/{{poll._id}}/vote?_method=PATCH" method="post" enctype="application/x-www-form-urlencoded">
    <div class="control ">
      <input type="hidden" name="_method" value="PATCH"> {{#each poll.itens}}
      <label class="radio">
        <input type="hidden" name="{{item}}">
        <input type="radio" name="votes"> {{item}}
      </label>
      {{/each}}
    </div>
    <div class="row ">
      <button type="submit" class="button is-success vote">Vote</button>
    </div>
  </form>
</div>